@import '../node_modules/ol-ext/control/Dialog.css';


#minimap {
	position: absolute;
	top: 65%;
	left: 5px;
	width: 15%;
	height: 30%;
}

#tooltip {
	position: absolute;
	display: none;
}

.ol-button i {
	color: inherit;
}

.turnTime {
	right: 50%;
	top: 0.5em;
}
