@import '../node_modules/ol-ext/control/Dialog.css';
@import '../node_modules/ol-ext/control/Notification.css';


body {
	background-color: black
}

#minimap {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 15%;
	height: 30%;
}

#tooltip {
	position: absolute;
	display: none;
}

#endTurnButton {
	position: absolute;
	right:0%
}

#createUnitButton {
	width: auto;
}

#deleteUnitButton {
	width: auto;
}

.ol-button i {
	color: inherit;
}

.turnTime {
	right: 50%;
	top: 1em;
}

.deploymentFinish {
	right: 40%;
	top: 1em;
}

.resetMap {
	left: 1em;
	bottom: 50%
}

.turn-change {
	position: absolute;
	top: 0%;
	right: 0%;
	background-color: white
}

.title {
	position: absolute;
	top: 0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	background-color: white
}
