@import '../node_modules/ol-ext/control/Dialog.css';


#minimap {
	position: absolute;
	top: 65%;
	left: 5px;
	width: 15%;
	height: 30%;
}

#tooltip {
	position: absolute;
	display: none;
}

#endTurnButton {
	position: absolute;
	right:0%
}

#createUnitButton {
	width: auto;
}

.ol-button i {
	color: inherit;
}

.turnTime {
	right: 50%;
	top: 1em;
}

.turn-change {
	position: absolute;
	top: 0%;
	right: 0%;
	background-color: white
}

.title {
	position: absolute;
	top: 0;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	background-color: white
}
